# ====================================================================
# CONFIGURACIÓN DEL SERVIDOR Y BASE DE DATOS MYSQL
# ====================================================================
PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=12345
DB_NAME=bateria

# ====================================================================
# CONFIGURACIÓN DE ALMACENAMIENTO DE EVIDENCIAS FOTOGRÁFICAS EN AWS S3
# ====================================================================
# (Opcional en desarrollo. Si no se especifican, se guardarán en /uploads)
AWS_ACCESS_KEY_ID=tu_access_key_aqui
AWS_SECRET_ACCESS_KEY=tu_secret_key_aqui
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=nombre-de-tu-bucket-s3
# AWS_S3_ENDPOINT=https://tu-endpoint-personalizado.com # (Opcional para MinIO, Cloudflare R2, Wasabi)
